.Home-img {
    height: 100vh;
    width: 100vw;
    background-image: url('/imgs/hotel-fachada.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}

.Home-title {
    pointer-events: none;
    position: absolute;
    bottom: 70px;
    left: 70px;
}

.Home-h1 {
    font-size: 3.4rem;
    color: white;
}

.Home-h2 {
    font-size: 2.4rem;
    color: white;

}


/* cambios de colores */
.Home-nav {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 40px;

}

.General-link--home {
    color: white;
    /* font-size: 1.2rem; */
}

.General-link--arrow .material-symbols-outlined.home {
    color: white;
}

.General-link--home::after {

    background-color: white;

}

@media (max-width: 767px) {

    .Home-title {
        left: 20px;
    }
}