.Booking-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem;
    /* similar a Anemona */
    color: #222;
}

.Booking-title {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: left;
    font-weight: 400;
}

.Booking-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.Booking-label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #333
}

.Booking-input,
.Booking-date {
    margin-top: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
}

.Booking-date {
    width: 100%;
}



.Booking-info {
    width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 80px 40px;
    
}

.Booking-infoTextos{
    display: grid;
        grid-template-columns: 200px 1fr;
        grid-row-gap: 3rem;
        column-gap: 4rem;
        max-width: 900px;
        width: 100%;
        align-items: start;
}
.Booking-infoTexto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.Booking-btn {
    align-self: flex-start;
    margin-top: 1rem;
    background-color: rgba(70, 105, 85, 0.25); /* un poco más opaco que el otro */
    color: #2F3E2E;
    border: 1.8px solid #2F3E2E;
    padding: 12px 28px;
    font-size: 0.95rem;
    
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.Booking-btn:hover{
    background-color: rgba(70, 105, 85, 0.35);
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}